<h2>ログイン</h2>
  <% if flash.alert %>
    <span class="alert"><%= flash.alert %></span>
  <% end %>
  <%= form_with url: :msession, id: "m_login_form" do %>
  <dl>
    <dt>
    <label>ユーザーID</label>
    </dt>
    <dd>
    <input type="text" name="login_id">
    </dd>
    <dt>
    <label>パスワード</label>
    </dt>
    <dd>
    <input type="password" name="password">
    </dd>
    <dt>
    <label><input type="checkbox" name="remember_me">
    <span>Remember me on this computer</span></label>
    </dt>
  </dl>
  <input type="submit" value="ログイン">
  <% end %>