<h1>このサイトについて</h1>
<p>
大手アイリッシュ音楽サイト<%= link_to "Tune of The Session", "https://thesession.org", :target => ["_blank"] %>(以下、The Session)を参考に作成した
アイリッシュ音楽共有サイト…というテイの、RubyとRuby on Railsの勉強のために作成したWebアプリケーションです。
</p>
<p>
このサイトを実際に運用するにはもっと色々な機能や、個人情報を含んだデータを管理するノウハウ、防衛手段が必要です。当然ながら当方には不足しています。
そのため、このサイトは実運用は考えず、いわゆるモックのような位置づけで作成しました。
The Sessionをそのままコピーするのも難しく、加えて「同じサイトが2つあってもな…」という感じがしたので、当サイトの方針を以下のように定めました。
</p>

<dl>
  <dt>
    実運用を想定した方針
  </dt>
  <dd>
    <ul>
      <li>ユーザー(会員)は個人ではなく、日本で開催されているセッショングループとする。</li>
      <li>登録する楽曲は各地のセッションでのレパートリーとする</li>
    </ul>
  </dd>
  <dt>
    モックとしての方針
  </dt>
  <dd>
    <ul>
      <li>提供する機能は譜面情報と会員情報の検索、追加、編集、削除に限定する。</li>
      <li>登録情報にメールアドレス含む個人情報を要求しない</li>
      <li>毎日0時にデータベースの内容をリセットする</li>
    </ul>
  </dd>
  <dt>
    いつかは実装できたら良いなって思うもの
  </dt>
  <dd>
    <ul>
      <li>セットリスト機能(複数の曲の譜面を連結して1画面で表示。初心者の方も演奏しやすい?)</li>
      <li>コメントや掲示板的な機能(荒れたら嫌だなとは思いつつ)</li>
    </ul>
  </dd>
</dl>


<h3>アイルランド音楽について</h3>
<p>
アイルランドで継承され、演奏されてきた音楽で、大抵は短い曲を何度か繰り返し、メドレーのように2,3曲続けて演奏する形式を取っています。
かつては口承音楽であり、楽譜を用いず耳コピで伝承されてきたため、
形を変えて継承された曲も多くありますし、忘れ去られた曲も多いと言われています。古くから伝わる曲の多くは作曲者が誰なのかも明確ではありません。
現在ではThe Sessionを始め、いくつものデータベースサイトで有志が楽譜を作成、共有しており、レパートリの保存が行われています。
さらに、現在でもアーティストが新曲を発表しているため、曲数は増え続けています。
</P>
<h3>セッションについて</h3>
<p>
セッションとは、各地のアイリッシュパブや公園などで定期的に楽器を持ち寄ってアイリッシュ音楽を演奏する集まりのことです。
日本でも開催されており、それぞれが独自にレパートリーを持っています。
当サイトは「セッションごとに演奏される譜面を共有することで楽曲の新たな一面を知ったり、他のセッションメンバーとの共演がしやすくなるのでは無いか、交流の輪が広がるのではないか」という考えのもと作成されています。
</p>
<h3>ABC記譜法について</h3>
<p>
記号や英数字を用いて譜面を表現する記譜法であり、
特別なソフトを使用せず、テキストエディタなどで記述することができるフォーマットです。
単旋律はもちろん、装飾音符の表現やコードネーム、歌詞を記述することも可能です。
</p>
<h3>使用しているあれこれ</h3>
<p>
上述の通り、当サイトはRubyとRuby on Railsで作成しました。
いくつかのプログラミング言語の初歩の初歩を学習した時、Rubyの明快な書きやすさと読みやすさに感銘を受け、
RubyとRailsの基礎を一通り勉強しました。Railsの開発のしやすさとMVCについて学んだ時、
「The Sessionを参考にしたサイトであれば、Railsの機能をいかんなく発揮できるのでは」と思い、
当サイトを作成しました。
ABC譜を五線譜のSVGやMIDIに変換する機能は、Paul Rosen氏が公開している「abcjs」を使用しています。
</p>