<div id="i_menu">
  <ul>
    <li><%= link_to "このサイトについて", :about %></li>
<li><%= link_to "アイルランド音楽について", :irish %></li>
<li><%= link_to "使い方", :how_to %></li>
</div>


<h4>このサイトについて</h4>
<p>
大手アイリッシュ音楽サイト<%= link_to "Traditional Irish music on The Session", "https://thesession.org", :target => ["_blank"] %>(以下、The Session)を参考に作成した
アイリッシュ音楽共有サイト…というテイの、RubyやRuby on Railsなどの勉強のために作成したWebアプリケーションです。
</p>
<p>
このサイトを実際に運用するにはもっと色々な機能や、個人情報を含んだデータを管理するノウハウ、防衛手段が必要です。当然ながら当方には不足しています。
そのため、このサイトは実運用は考えず、いわゆるモックのような位置づけで作成しました。
The Sessionをそのままコピーするのも難しく、加えて「同じサイトが2つあっても意味がない」感じがしたので、当サイトの方針を以下のように定めました。
</p>

<dl class="m_dl">
  <dt>
    実運用を想定した方針
  </dt>
  <dd>
    <ul>
      <li>各セッション間で楽曲を公開し合うことで、グループ間で交流しやすくする、また楽曲の理解を深める一助とすることを当サイトの目的とする。</li>
      <li>ユーザー(会員)は個人ではなく、日本で開催されているセッショングループとする。</li>
      <li>登録する楽曲は各地のセッションでのレパートリーとする</li>
    </ul>
  </dd>
  <dt>
    モックとしての方針
  </dt>
  <dd>
    <ul>
      <li>提供する機能は楽曲情報と譜面情報、会員情報の検索、追加、編集、削除(一部のみ)に限定する。</li>
      <li>登録情報にメールアドレス含む個人情報を要求しない</li>
      <li>不定期にデータベースの内容をリセットする(サーバーの都合上、定期的にはできません。)</li>
    </ul>
  </dd>
  <dt>
    今後、実装したい機能
  </dt>
  <dd>
    <ul>
      <li>楽曲の「別名」を表示、編集する機能</li>
      <li>五線譜表示機能(abcjsを使用予定)</li>
      <li>登録・編集時に確認画面を表示</li>
      <li>タイトル、リズム、キー・スケールについては登録情報からABC譜に自動で付記させる<br />
      (現状では2重に記述が必要な状態であるため、上記機能を実装することで、メタ情報の記述が不要になり、純粋なABC譜部分だけを書くだけで良くなる。)</li>
      <li>セットリスト機能(複数の曲の譜面を連結して1画面で表示。初心者の方も演奏しやすい?)</li>
      <li>コメントや掲示板的な機能</li>
      <li>(実装するか要検討)セッショングループを検索する機能</li>
    </ul>
  </dd>
</dl>



<h4>使用しているあれこれ</h4>
<p>
上述の通り、当サイトはRubyとRuby on Railsで作成しました。
いくつかのプログラミング言語の初歩の初歩を学習した時、Rubyの明快な書きやすさと読みやすさに感銘を受け、
RubyとRailsの基礎を一通り勉強しました。RailsとMVCについて学んだ時、
「The Sessionを参考にしたサイトであれば、Railsと相性が良いのでは」と思い、当サイトを作成しました。
なお、今後実装したい「ABC譜を五線譜のSVGやMIDIに変換する機能」は、Paul Rosen氏が公開している「abcjs」の使用を検討しています。
</p>