<h1>このページについて</h1>
<p>
RubyとRuby on Rails の勉強がてら、
大手アイリッシュ音楽サイト<%= link_to "Tune of The Session" %>を参考に作成した
アイリッシュ音楽共有サイトです。
</p>
<p>
The Sessionをそのままコピーするのは技術面などで無理があるので、
当サイトの方針を以下のように定めました。
</p>

<ul>
  <li>ユーザー(会員)は個人ではなく、日本で開催されているセッショングループとする。</li>
  <li>登録する楽曲は各地のセッションでのレパートリーとする</li>
  <li>登録情報にメールアドレス含む個人情報を要求しない</li>
</ul>

<h3>アイルランド音楽について</h3>
<p>
アイルランドで継承され、演奏されてきた音楽です。
かつては口承音楽であり、楽譜を用いず耳コピで伝承されてきたため、
形を変えて継承された曲も多くありますし、忘れ去られた曲も多いと言われています。
</P>

<h3>ABC記譜法について</h3>
<p>記号や英数字を用いて譜面を表現する記譜法であり、
特別なソフトを使用せず、テキストエディタなどで記述することができる。
当サイトでは「abcjs」を使用してABC譜を五線譜に変換しています。
</p>