
<div id="i_menu">
  <ul>
    <li><%= link_to "このサイトについて", :about %></li>
<li><%= link_to "アイルランド音楽について", :irish %></li>
<li><%= link_to "使い方", :how_to %></li>
</div>


<h4>このサイトの使い方</h4>
<p>
当サイトはログインしなくても譜面や登録者の情報を閲覧することができます。<br />
会員登録することで、セッションの情報を公開することができます。この情報は誰でも閲覧できるため、ちょっとした宣伝にもなるかもしれません。
ログインした状態なら楽曲や譜面の情報を登録することができます。また、ご自身が登録した内容は後で編集することもできます。
ただし、情報の削除についてはご自身で登録された譜面情報のみ可能です。楽曲情報や会員情報の削除はお問い合わせいただくことで順次対応いたします。
</p>
<p>
当サイトはモックみたいなものなので<span class="strong red">不定期に全ての情報をリセットします。</span>
登録、編集、削除した内容が全て元に戻りますのでご注意ください。
なお、個人情報などの入力はおやめください。
当サイトの利用に当たって生じたいかなる不利益、損害につきましても、当サイトは責任を負わないものとします。
</p>
<h4>会員登録</h4>
<p>
各ページ上部にある「会員登録」よりご登録いただけます。
なお、当サイトにはデフォルトで架空の会員情報を4つ、加えてゲストアカウントを登録しています。
IDとPASSを公開しておりますので、それらを用いてご利用いただいても構いません。
</p>
<h4>ログイン</h4>
<p>
各ページ上部にあるログインフォームにIDとPASSを入力してください。
「Remember me on this computer」にチェックを入れるとログイン状態が保持されます。
※Cookieを使用しております。ご了承ください。
</p>
<h4>情報の登録</h4>
<p>
譜面を登録するには、先に楽曲の登録を行う必要があります。
登録した楽曲ページの中で譜面情報を登録する流れとなっています。譜面はABC記譜法で入力をお願い致します。
※楽曲の「リズム」のみは登録後の変更ができません。間違いの無いよう、十分にご確認をお願い致します。
※楽曲や譜面の重複のチェックはしておりませんので、同名、同リズムの楽曲がすでに登録されていないか、あらかじめ確認の上楽曲登録をお願い致します。
</p>
<h4>情報の編集</h3>
<p>
ご自身で登録した情報であれば登録したあとでも再度編集が可能です。
※楽曲情報はログインした状態であれば誰でもどの楽曲でも編集が可能です。ただし、リズムの変更はできません。
</p>
<h4>情報の削除</h4>
<p>
ご自身で登録された譜面情報のみ削除が可能です。楽曲情報や会員情報は不定期にリセットされますので、削除が必要な場合もお待ちいただきますようお願い致します。
</p>
<h4>会員ページについて</h4>
<p>
登録されている会員情報や、ご自身で登録された譜面情報が表示されます。
こちらからも編集や譜面情報の削除が可能です。
</p>
<h4>楽曲の「別名」について</h4>
<p>
アイリッシュ音楽はタイトルも曖昧なので、本家The Sessionであれば「この楽曲はこう呼ばれてもいます」として、
全ての呼称を網羅的に記述するのが正しいのだと思います。しかし、このサイトでは各セッション・グループでの呼称のみが記録されていれば問題ないと考えていますし、
むしろ使われていない呼称を使用するとかえって混乱のもとになるかと思います。最初に登録された楽曲名と異なる呼び方をしている場合のみ、「別名」を入力していただければと思います。
</p>