<div id="i_menu">
  <ul>
    <li><%= link_to "このサイトについて", :about %></li>
<li><%= link_to "アイルランド音楽について", :irish %></li>
<li><%= link_to "使い方", :how_to %></li>
</div>


<h4>アイルランド音楽について</h4>
<p>
アイルランドで継承され、演奏されてきた音楽で、大抵は短い曲を何度か繰り返し、メドレーのように2,3曲続けて演奏する形式を取っています。
かつては口承音楽であり、楽譜を用いず耳コピで伝承されてきたため、
形を変えて継承された曲も多くありますし、忘れ去られた曲も多いと言われています。古くから伝わる曲の多くは作曲者が誰なのかも明確ではありません。
現在ではThe Sessionを始め、いくつものデータベースサイトで有志が楽譜を作成、共有しており、レパートリの保存が行われています。
さらに、現在でもアーティストが新曲を発表しているため、曲数は増え続けています。
</P>
<h4>セッションについて</h4>
<p>
各地のアイリッシュパブや公園などに楽器を持ち寄ってアイリッシュ音楽を演奏する集まりのことです。
ライブとは異なり、その場で曲を出し合い自由に演奏します。上級者はちょっとしたアドリブや掛け合いなどの駆け引きを楽しみながら演奏しています。日本でも各地で開催されており、セッション・グループによってはお決まりの曲(レパートリ)を持っていたりもします。
当サイトは「各セッション・グループのレパートリを共有することで楽曲の新たな一面を知ったり、他のセッションメンバーとの共演がしやすくなるのでは無いか、交流の輪が広がるのではないか」という考えのもと作成しています。
</p>
<h4>ABC記譜法について</h4>
<p>
記号や英数字を用いて譜面を表現する記譜法であり、
特別なソフトを使用せず、テキストエディタなどで記述することができるフォーマットです。
単旋律はもちろん、装飾音符やコードネーム、歌詞を記述することも可能です。
</p>