<h4>Log In</h4>

<% if flash.alert %>
  <p class="alert">
    <%= flash.alert %>
  </p>
<% end %>

<%= form_with url: :session, id: "login_form" do %>

  <label>ユーザーID</label>
  <input type="text" name="user_id">

  <label>パスワード</label>
  <input type="password" name="password">

  <label><input type="checkbox" name="remember_me">
  <span>Remember me on this computer</span></label>

  <input type="submit" value="ログイン">
<% end %>

<%= link_to "会員登録", new_user_path %>