<% if flash.alert %>
  <p class="alert">
    <%= flash.alert %>
  </p>
<% end %>
  <ul class="account-menu">
    <li><%= "Logging in " + current_user.name %></li>
    <li><%= button_to "ログアウト", :session, method: :delete, data: { confirm: "ログアウトしますか？" } %></li>
  </ul>