<h1>Result</h1>
<% if @tunes.present? %>
  <dl class="search_result">
    <% @tunes.each do |tune| %>
    <dt><%= link_to tune.name, tune %></dt>
    <dd>
      Rhythm:<%= tune.rhythm %><br />
    </dd>
    <% end %>
  </dl>
<% end %>
<%= render "shared/search_form" %>